streamlit
python-dotenv # for loading environment variables
torch # for PyTorch backend
sentence-transformers # for sentence embeddings
beautifulsoup4 # for web scraping
pypdf # for PDF processing
chromadb # for ChromaDB vector store
langchain
langchain-core # core components of LangChain
langchain-community 
langchain-chroma
langchain-google-genai==2.0.0
langchain-huggingface==0.1.0 # for HuggingFace integration
tavily-python # for Tavily API
langdetect # for language detection
requests==2.32.3



